body {
  background: #0B0B0D;
}

header {
  background-color: orange;
  background-image: url(images/logo.png);
  background-position:right;
  background-repeat: no-repeat;
  background-size: 150px, 100px;
  color: #730202;
  font-family: Georgia, Palatino, serif;
  font-size: 75px;
  height: 75px;
  padding: 10px;
}

section {
  background: #FFFFFF;

  padding: 5px;
}

article {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.extrapadding {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}
p {
    font-family: arial,sans-serif;
}




h2 {
  font-size: 20px;
  font-family: arial,sans-serif;
  color: rgb(147, 26, 42);
}



/* --- Nav Bar --- */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: arial,sans-serif;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
  /* This is a three digit code. Same as #111111 */
  background-color: #111;
}